<div class="graph_small">
	<h3 id="chart_title">Runtime by Month (all years)</h3>
	<%= open_flash_chart_object(460, 150, OFC_BASE + "thermostats/by_month_runtime_graph?thermo_loc=#{thermo_loc}&mode=#{mode}", false, OFC_BASE ) %>
</div>
