<div class="graph_small">
	<h3 id="chart_title">Opened by Month (all years)</h3>
	<%= open_flash_chart_object(460, 150, OFC_BASE + "zones/by_month_opened_graph?zone=#{zone}", false, OFC_BASE) %>
</div>
