<div class="graph_large">
	<h3 id="chart_title">Zone Opened/Closed: <%= params[:zone] %>, Last <%= params[:from_hours] %> Hours</h3>
	<%= open_flash_chart_object(940, 250, OFC_BASE + "zones/opened_graph?zone=#{zone}&from_hours=#{from_hours.to_i}", false, OFC_BASE ) %>
</div>
