<link rel="stylesheet" type="text/css" media="screen" href="http://img.weather.weatherbug.com/Style/stickers/v2/Stickers_160x600.css" /> 

<div class="wXbody">
<div class="headerlogo">
	<a href="http://weather.weatherbug.com/default.html" target="_blank" onclick="Javascript:this.href='http://weather.weatherbug.com/AZ/Scottsdale-weather.html?zcode=z5545&units=0'">
	<img src="http://img.weather.weatherbug.com/images/stickers/v2/160x600/top-wxbug-logo.jpg" border="0" alt="WeatherBug" /></a>
</div>

<iframe id="WeatherBugSticker_160x600_v2" src="http://weather.weatherbug.com/desktop-weather/web-widgets/getSticker.html?ZipCode=85262&ZCode=z5545&Size=160x600&StationID=KDVT&units=0&Version=2" width="146" height="296" frameborder="0" scrolling="no" allowtransparency="yes"></iframe>

<div class="wXlinks">
	<span class="link"><a href="http://weather.weatherbug.com/weather-forecast.html" target="_blank" onclick="Javascript:this.href='http://weather.weatherbug.com/AZ/Scottsdale-weather/local-forecast/7-day-forecast.html?zcode=z5545&units=0'">Forecast</a></span>
	<br /><br />
	<span class="link"><a href="http://weather.weatherbug.com/doppler-radar.html" target="_blank" onclick="Javascript:this.href='http://weather.weatherbug.com/AZ/Scottsdale-weather/local-radar/doppler-radar.html?zcode=z5545&units=0'">Radar</a></span>
	<br /><br />
	<span class="link"><a href="http://community-weather.weatherbug.com/community/weather-photos/photo-gallery.html" target="_blank" onclick="Javascript:this.href='http://community-weather.weatherbug.com/community/weather-photos/photo-gallery.html?zcode=z5545&units=0&zip=85262'">Photos</a></span>
</div>

<div class="wXlinks2">
	<span class="link"><a href="http://weather.weatherbug.com/weather-cams.html" target="_blank" onclick="Javascript:this.href='http://weather.weatherbug.com/AZ/Scottsdale-weather/weather-cams/local-cams.html?zcode=z5545&units=0'">Cameras</a></span>
	<br /><br />
	<span class="link"><a href="http://weather.weatherbug.com/weather-news/weather-reports.html" target="_blank" onclick="Javascript:this.href='http://weather.weatherbug.com/weather-news/weather-reports.html?zcode=z5545&units=0&zip=85262'">News</a></span>
	<br /><br />
	<span class="link"><a href="http://weather.weatherbug.com/travel-forecast/travel-forecast.html" target="_blank" onclick="Javascript:this.href='http://weather.weatherbug.com/travel-forecast/travel-forecast.html?zcode=z5545&units=0&zip=85262'">Travel</a></span>
</div>

<div class="footer">
	<a href="http://weather.weatherbug.com/default.html" target="_blank" onclick="Javascript:this.href='http://weather.weatherbug.com/AZ/Scottsdale-weather.html?zcode=z5545&units=0'">
	<img src="http://img.weather.weatherbug.com/images/stickers/v2/160x600/local.jpg" border="0" alt="WeatherBug" /></a><br />
	
	<a href="http://weather.weatherbug.com/default.html" target="_blank" onclick="Javascript:this.href='http://weather.weatherbug.com/AZ/Scottsdale-weather.html?zcode=z5545&units=0'">
	<img src="http://img.weather.weatherbug.com/images/stickers/v2/160x600/bt-wxbug-logo.jpg" border="0" id="logo" alt="WeatherBug" /></a><br />
	
	<div class="footertext">Your weather just got better.</div>
</div>
</div>